a {
  text-decoration: none !important;
  color: inherit !important;
}
main {
  margin: 1.5rem 1.5rem;
}
main .homePage {
  display: flex;
  flex-wrap: wrap;
}
.filters {
  width: 20%;
  background-color: #343a40;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 86vh;
  margin: 10px;
}
.filters span {
  margin-bottom: 40px;
}
.title {
  font-size: 30px;
}

.articles {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}
.prodArticle {
  margin: 0.65rem 0.25rem;
  padding: 10px;
  /* text-align: center; */
  /* border: 2px solid grey; */
  border-radius: 3%;
}
.prodArticle h4 {
  text-align: center;
}
.prodArticle img {
  width: 300px;
  height: 300px;
  margin: 10px auto;
  object-fit: cover;
  background-color: transparent;
}
.prodArticle p {
  color: green;
  font-weight: 500;
  height: 15px;
}
.prodArticle span {
  color: black;
  margin-left: 0.75rem;
}

.btn-cart {
  background-color: lightcoral !important;
}
.cartPage {
  display: flex;
  flex-wrap: wrap;
}
